<div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <strong>{{#if message}}{{message}}{{else}}An error occured!{{/if}}</strong> Please, check all your fields. Some of them can be unique. Also check your
    connection.
</div>
