<div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">x</span>
        <span class="sr-only">Close</span>
    </button>
    <strong>An error occured!</strong> Please, check all your fields. Some of them can be unique. Also check your
    connection.
</div>
