<h1>Welcome to recombats admin panel</h1>

<h3>Select the page you need:</h3>

<ul class="nav">
  <li class="nav-item">
    {{#link-to "artifacts" class="nav-link" }}Artifacts{{/link-to}}
  </li>
  <li class="nav-item">
    {{#link-to "bots" class="nav-link" }}Bots{{/link-to}}
  </li>
</ul>

{{outlet}}
